:root {
  --basic-grey: #eeeeee;
  --grey-dark: #DFDFDF;
  --grey-extra-dark: #D5D5D5;
  --basic-white: #ffffff;
  --basic-white-opacity: rgba(255,255,255,0.3);
  --basic-black: #000000;
  --basic-red: #FB565A;
  --red-dark: #E74246;
  --red-extra-dark: #D7373B;
  --basic-green: #00CA74;
  --green-dark: #00BC6C;
  --green-extra-dark: #00AA62;
  --basic-yellow: #EFC849;
  --yellow-dark: #EAB534;
  --yellow-extra-dark: #E5A722;
  --light-black: #283136;
  --lighter-black: #444444;
  --extra-light-black: #666666;
  --black-opacity-low: rgba(0,0,0,0.3);
  --social-btn-grey: #e1e1e1;
  --active-paginator: rgba(0, 0, 0, 0.0001);
  --scale-grey: #D7DCDF;
  --toggle-grey: #ABABAB;
  --border-catalog: rgba(0, 0, 0, 0.1);
  --form-border: #D7DCDE;
  --grey-logo: #A6A6A6;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.stretch-container {
  width: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.large-container {
  min-width: 1160px;
  max-width: 1440px;
  margin: 0 auto;
}

/*grid*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Стилизация index.html*/

/*Шапка*/

.main-header h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin-left: 209px;
  margin-bottom: 108px;
  margin-top: 71px;
}
.navigation {
  list-style: none;
  margin-bottom: 0;
}

.main-header {
  background-color: var(--basic-grey);
  /*padding: 0 20px;*/
  padding-top: 48.98px;

}

.main-navigation {
  display: flex;
}

.main-header-logo {
  margin-right: 202px;
}

.main-header-logo img {
  max-width: 160px;
}

.navigation {
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 241px;
}

.navigation li {
  margin-right: 44px;
}

.navigation li {
  margin-top: 27px;
}

.navigation li:nth-child(1) {
  margin-top: 28px;
}

.navigation li:nth-child(2) {
  margin-right: 48px;
}

.navigation li:nth-child(3) {
  margin-right: 46px;
}

.navigation li:nth-last-child {
  margin-top: 28px;
  margin-right: 0;
}

/* logo */

.navigation a,
.basket {
  color: var(--basic-black);
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.main-header-logo svg:hover {
  fill: var(--basic-black);
}

.main-header-logo svg:active {
  fill: var(--grey-logo);
}

.navigation a:hover,
.basket:hover {
  color: var(--basic-red);
}

.navigation a:active,
.basket:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.menu-active {
  padding-bottom: 18px;
  border-bottom: 2px solid var(--basic-red);
}

.basket-container {
  display: flex;
  position: relative;
}

.basket {
  position: relative;
  margin-top: 27px;
}

.basket::before {
  content:url("../img/cart-icon.svg");
  position: absolute;
  left: -40px;
}

.basket-menu-active::after {
  content: "";
  width: 115px;
  height: 2px;
  background-color: var(--basic-red);
  position: absolute;
  z-index: 15;
  top: 44px;
  right: 0px;
}

/*Слайдер*/

.slaid-wrapper {
  background-color: var(--basic-grey);
}

.slaider-list {
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 424px;
}

.slaider-list-wrapper {
  position: relative;
}

.slaider-img {
  width: 760px;
  height: 431px;
}

.slaider-list-item {
  display: flex;
  position: relative;
  padding-top: 62px;
}

.slaider-list-item h2 {
  margin-top: 0;
  padding-top: 10px;
}

.slaider-list-item h2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  width: 538px;
  margin-bottom: 25px;
}

.slaider-list-item p {
  color: var(--light-black);
  margin-bottom: 27px;
  margin-top: 37px;
}

.slaider-list-item:first-child p {
  margin-top: 25px;
  margin-bottom: 38px;
}

.slaider-list-item:first-child {
  margin-bottom: 40px;
}

.slaider-btn {
  background-color: var(--basic-red);
  padding-top: 17px;
  padding-right: 54px;
  padding-bottom: 15px;
  padding-left: 54px;
}

.slaider-btn:hover {
  background-color: var(--red-dark);
}

.slaider-btn:active {
  background-color: var(--red-extra-dark);
  color: var(--basic-white-opacity)
}

.slaider-list-item img {
  position: absolute;
  top: -6px;
  right: 2px;
}

.slider-controls {
  position: absolute;
  top: 310px;
  left: 536px;
  z-index: 20;
  display: flex;
  width: 88px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-controls .current {
  display: block;
  width: 8px;
  height: 8px;
  background: transparent;
  border: 2px solid #C1C1C1;
  border-radius: 50%;
  box-sizing: border-box;
}


.slide {
  display: none;
}

.slide-current {
  display: block;
}


/*преимущества*/

.advantages {
  padding-top: 80px;
}

.advantages-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 16px;
}

.advantages-item p {
  margin: 0;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 100px;
  padding-bottom: 80px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
}

.advantages-description {
  color: var(--light-black);
}

.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  border-radius: 3px;
  vertical-align: middle;
}

.btn-red,
.btn-green,
.btn.btn-yellow {
  margin-top: 32px;
  padding-top: 17px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 39px;
  width: 160px;
  box-sizing: border-box;
}

.btn-red {
  background-color: var(--basic-red);
}

.btn-red:hover {
  background-color: var(--red-dark);
}

.btn-red:active {
  background-color: var(--red-extra-dark);
  color: var(--basic-white-opacity);
}

.btn-green {
  background-color: var(--basic-green);
}

.btn-green:hover {
  background-color: var(--green-dark);
}

.btn-green:active {
  background-color: var(--green-extra-dark);
  color: var(--basic-white-opacity);
}

.btn-yellow {
  background-color: var(--basic-yellow);
}

.btn-yellow:hover {
  background-color: var(--yellow-dark);
}

.btn-yellow:active {
  background-color: var(--yellow-extra-dark);
  color: var(--basic-white-opacity);
}

/* Блок презентация */

/* Блок презентация О нас */

.presentation {
  display: flex;
  border-top: 2px solid var(--basic-grey);
  border-bottom: 2px solid var(--basic-grey);
  justify-content: space-between;
}

.presentation-about-us {
  margin-top: 37px;
  color: var(--light-black);
}

.presentation-about-us h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  margin-bottom: 33px;
}

.presentation-about-us h3 {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 24px;
}

.presentation-about-us-list {
  list-style: none;
  margin-bottom: 74px;
  padding: 0;
  margin: 0;
}

.presentation-about-us-list  li {
  margin-bottom: 24px;
  position: relative;
  margin-left: 36px;
}

.presentation-about-us-list li:last-child {
  margin-bottom: 0;
}

.presentation-about-us-list li::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  left: -37px;
  top: 11px;
}

/*статистика презентации*/

.presentation-statistics {
  margin-top: 25px;
  margin-bottom: 68px;
}

.presentation-statistics p {
  margin-left: 1px;
}

.presentation-statistics h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 21px;
  margin-left: 17px;
}

.presentation-statistics table {
  border-spacing: 0 8px;
  margin-left: -1px;
}

.presentation-statistics th {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  margin-top: 10px;
}


.presentation-statistics th:nth-child(2) {
  padding-left: 20px;
}

.presentation-statistics th:nth-child(3) {
  padding-left: 20px;
  text-align: left;
}

.presentation-statistics td:nth-child(2),
.presentation-statistics td:nth-child(3) {
  padding-left: 22px;
}

.superscript {
  font-size: 26px;
  line-height: 40px;
  top: -15px;
}

.presentation-statistics td {
  line-height: 18px;
  color: var(--light-black);
}

/*Партнеры*/

.partners {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 2px solid var(--basic-grey);
  margin-bottom: 80px;
  display: flex;
  padding-left: 31px;
}

.partners li {
  margin-top: 45px;
  padding-bottom: 35px;
  position: relative;
}

.partners li:not(:first-child) {
  margin-left: 94px;
}

.partners li:first-child {
  margin-top: 62px;
}

.partners li:nth-child(3) {
  margin-top: 63px;
  margin-left: 104px;
}

.partners li:nth-child(4) {
  margin-top: 52px;
  margin-left: 120px;
}

.partner {
  opacity: 0.2;
}

.partners li::after {
  position: absolute;
  content: url("../img/border-logo.png");
  left: 248px;
}

.partners li:nth-child(2)::after {
  left: 255px;
  top: 18px;
}

.partners li:nth-child(3)::after {
  left: 241px;
}

.partners li:last-child::after {
  display: none;
}

.partner:hover {
  opacity: 1;
}

.partner:active {
  opacity: 0.1;
}

/* Футер*/

.map {
  display: flex;
  background-image: url("../img/map1.png");
  /*min-width: 1440px;*/
  min-height: 416px;
}

.contacts h3 {
  margin-top: 0;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 0;
}

.contacts {
  background-color: var(--basic-white);
  margin-top: 54px;
  margin-bottom: 54px;
  margin-left: 140px;
  padding-top: 49px;
  padding-left: 50px;
  padding-right: 50px;
}

.contacts p {
  line-height: 18px;
}

.contacts p:nth-child(2) {
  margin-top: 22px;
  margin-bottom: 20px;
}

.contacts p:nth-child(3) {
  margin-bottom: 37.29px;
}

.contacts .telephone {
  color: black;
}

.btn-write {
  background-color: var(--basic-red);
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 44px;
  padding-right: 44px;
}

.btn-write:hover {
  background-color: var(--red-dark);
}

.btn-write:active {
  background-color: var(--red-extra-dark);
  color: var(--basic-white-opacity);
}

/* футер низ */

.footer-down {
  display: flex;
  min-height: 217px;
}

.social-list {
  list-style: none;
  display: flex;
  margin: 0;
  margin-top: 68px;
  padding: 0;
  margin-right: 130px;
}

.social-list li {
  margin-right: 9px;
}

.social-btn {
  display: flex;
  background-color: var(--social-btn-grey);
  width: 81px;
  height: 81px;
  border-radius: 50%;
}

.btn-vk svg {
  margin: 33px 27px;
}

.btn-facebook svg {
  margin-top: 31px;
  margin-right: 34px;
  margin-bottom: 28px;
  margin-left: 35px;
}

.btn-instagram svg {
  margin: 30px;
}

.btn-vk svg:active {
  opacity: 0.3;
}

.btn-facebook svg:active {
  opacity: 0.3;
}

.btn-instagram svg:active {
  opacity: 0.3;
}

.suggest {
  color: var(--lighter-black);
  line-height: 22px;
}

.suggest h2 {
  color: var(--basic-black);
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  margin-top: 75px;
  margin-bottom: 10px;
}

.social-btn:hover {
  background-color: var(--red-dark);
}

.social-btn:active {
  background-color: var(--red-extra-dark);
}

/* попап*/

.popap {
  display: none;
  width: 960px;
  min-height: 590px;
  background: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  padding-left: 100px;
  position: fixed;
  z-index: 10;
  top: 150px;
  left: 240px;
  box-sizing: border-box;
}

.popap-show {
  display: block;
  animation: bounce 0.6s;
}

.popap-error {
  animation: shake 0.6s;
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.popap h2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  margin-top: 65px;
  margin-left: 1px;
  margin-bottom: 37px;
}

.popap p {
  margin: 0;
}

.popap label {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.popap form {
  width: 761px;
  height: 345.79px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.popap input[type="text"],
.popap input[type="email"] {
  margin-top: 5px;
  width: 360px;
  border: 2px solid var(--form-border);
  box-sizing: border-box;
  border-radius: 3px;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 14px;
  margin-bottom: 30px;
}

.popap-form p:nth-child(3) {
 margin-left: 2px;
}

.popap textarea {
  width: 761px;
  min-height: 117px;
  border: 2px solid var(--form-border);
  box-sizing: border-box;
  border-radius: 3px;
  padding: 16px;
  padding-top: 15px;
  margin-top: 5px;
  margin-bottom: 42px;
}

.popap input[type="text"]:hover,
.popap input[type="email"]:hover,
.popap textarea:hover {
  border-color: var(--grey-dark);
}

.popap input[type="text"]:focus,
.popap input[type="email"]:focus,
.popap textarea:focus {
  border-color: var(--grey-extra-dark);
}

.popap input[type="text"]:invalid,
.popap input[type="email"]:invalid {
  color: var(--red-dark);
  border-color: var(--red-dark);
}

.popap button[type="submit"] {
  width: 259px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 16px;
}

.popap button[type="button"] {
  position: absolute;
  top: -75px;
  right: -15px;
  z-index: 10;
  border: none;
  background-color: transparent;
  opacity: 0.3;
}

.popap button[type="button"]::after {
  content: url("../img/close-cross.svg");
  cursor: pointer;
}

.popap button[type="submit"]:hover {
  background-color: var(--red-dark);
  opacity: 1;
}

.popap button[type="submit"]:active {
  background-color: var(--red-extra-dark);
}

.popap button[type="button"]:hover {
  opacity: 1;
}

.popap button[type="button"]:active {
  opacity: 0.1;
}

/* Стилизация catalog.html*/

.page-catalog {
  display: flex;
  padding-top: 37px;
}

/* меню сортировки */

.sort-menu {
  display: flex;
  margin-bottom: 48px;
  align-items: baseline;
}

.sort-menu h3 {
  margin-bottom: 0;
}

.list-sort-type,
.list-sort-direction {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.list-sort-type {
  margin-left: 265px;
}

.list-sort-type li {
  margin-right: 25px;
}

.list-sort-direction {
  margin-left: 24px;
}

.list-sort-direction li:nth-child(2) {
  margin-left: 19px;
}

.list-sort-direction li:nth-child(3) {
  margin-right: 0;
}

.sort-menu h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sort-btn {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
  color: var(--basic-black);
}

.btn-down::before {
  content: url("../img/icon-down-dir.svg");
}

.btn-up {
  content: url("../img/icon-up-dir.svg");
}

.sort-btn:hover {
  opacity: 0.6;
}

.sort-btn:active,
.sort-active {
  opacity: 1;
}

/*фильтр*/

.filter fieldset {
  border: none;
  padding: 0;
}

.grid-type {
  margin-top: 53px;
}

.grid-item {
  margin-bottom: 21px;
}

.grid-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-left: 35px;
}

.filter-input-radio + label::before {
  content: url("../img/radio-off.svg");
  position: absolute;
  left: -36px;
  top: -3px;
  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  content: url("../img/radio-on.svg");
  position: absolute;
  left: -36px;
  top: -3px;
  opacity: 0.4;
}

.filter-input-radio:hover + label::before {
  opacity: 1;
}

.filter-input-radio:disabled + label::before {
  opacity: 0.1;
}

.filter-input-radio:disabled + label {
  opacity: 0.3;
}

.grid-type h3 {
  margin-top: 0;
  margin-bottom: 16px;
}

.filter-features {
  margin-top: 25px;
}

.feature-item {
  margin-bottom: 21px;
}

.feature-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-left: 35px;
}

.filter-input-checkbox + label::before {
  content: url("../img/checkbox-off.svg");
  position: absolute;
  left: -36px;
  top: -3px;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  content: url("../img/checkbox-on.svg");
  position: absolute;
  left: -36px;
  top: -3px;
  opacity: 0.4;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.1;
}

.filter-input-checkbox:disabled + label {
  opacity: 0.3;
}

.filter h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-price {
  margin: 0;
  padding: 0;
}

.filter-price h3 {
  margin-bottom: 48px;
}

.grid-type h3,
.filter-features h3 {
  margin-top: 0;
  margin-bottom: 16px;
}

.range-filter {
  width: 260px;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: var(--basic-grey);
  border-radius: 5px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background: var(--scale-grey);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle-grey);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  line-height: 22px;
}

.price-controls input {
  width: 60px;
  padding: 9px;
  margin-left: 10px;
  text-align: center;
  color: var(--light-black);
  border: none;
  border-radius: 5px;
  background: var(--basic-grey);
  font-family: inherit;
  font-size: inherit;
  line-height: 22px;
}

.grid-type,
.filter-features {
  margin-left: 0;
  line-height: 19px;
  color: var(--light-black);
}

.grid-list,
.features {
  margin-top: 0;
  padding: 0;
  list-style: none;
  color: var(--light-black);
  line-height: 19px;
}

.filter-btn {
  border: none;
  border-radius: 3px;
  background-color: var(--basic-grey);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  width: 260px;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 15px;
  box-sizing: border-box;
  text-transform: uppercase;
  margin-top: 28px;
}

.filter-btn:hover {
  background-color: var(--grey-dark);
}

.filter-btn:active {
  background-color: var(--grey-extra-dark);
  color: var(--black-opacity-low);
}

/*карточки товаров*/

.catalog-container {
  margin-left: 140px;
}

.catalog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalog-item {
  position: relative;
  margin-bottom: 30px;
  display: flex;
}

.catalog-item:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.window {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-catalog);
  box-sizing: border-box;
  min-height: 578px;
  border-radius: 5px;
}

.window svg {
  width: 360px;
  min-height: 40px;
  opacity: 0.12;
}

.window img {
  height: 578px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.catalog-card {
  position: absolute;
  z-index: 10;
  bottom: 0;
  display: none;
  background-color:  var(--basic-grey);
  text-align: center;
  width: 100%;
  min-height: 231px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  word-break: break-all;
}

.catalog-item:nth-child(2n-1) .description {
  margin-right: 10px;
}

.catalog-item:nth-child(2n-1) p:last-child {
  margin-right: 7px;
}
.catalog-item:nth-child(4) .description {
  margin-right: 5px;
}

.catalog-card h3 {
  margin-top: 26px;
  margin-bottom: 0;
}

.catalog-item:hover .catalog-card  {
  display: block;
}

.catalog-item:hover svg {
  opacity: 1;
}

.link-name {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: var(--basic-black);
}

.link-name:hover {
  color: var(--basic-red);
}

.link-name:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-card .description {
  margin-top: 12px;
  margin-bottom: 32px;
  line-height: 18px;
  color: var(--extra-light-black);
}

.btn-price {
  display: inline-block;
  background-color: var(--basic-red);
  font-weight: 500;
  line-height: 18px;
  width: 200px;
  padding-top: 17px;
  padding-bottom: 15px;
  vertical-align: middle;
}

.btn-price:hover {
  background-color: var(--red-dark);
}

.btn-price:active {
  background-color: var(--red-extra-dark);
}

/* Пагинатор*/

.paginator {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding-top: 26px;
  padding-bottom: 58px;
}

.paginator li {
  margin-right: 11px;
}

.page-btn {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-black);
  background: var(--basic-grey);
  border-radius: 3px;
  width: 50px;
  height: 50px;
  padding-top: 17px;
  padding-bottom: 15px;
  box-sizing: border-box;
}

.next-page-btn {
  width: 260px;
  text-transform: uppercase;
}

.page-active {
  border: 3px solid #DBDBDB;
  background-color: var(--active-paginator);
  padding-top: 14px;
  padding-bottom: 12px;
  cursor: default;
}

.page-btn:hover,
.next-page-btn:hover {
  background-color: var(--grey-dark);
}

.page-btn:active,
.next-page-btn:active {
  background-color: var(--grey-extra-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: var(--black-opacity-low);
}
